body {
    background-color: #eeeeee;
}

.container {
    color: #00587a;
    font-weight: bold;
}

a {
    font-size: 20px;
}

.nav-item {
    font-size: 30px;
}

.navbar {
    background-color: #e7e7de;
}

.container .lead {
    color: white;
    font-size: 30px;
}

#mainNav {
    color: black;
}

h2 {
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 70px;
    text-align: center;
    color: #00587a;
}

h3 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    color: #00587a;
}