body {
    overflow-x: hidden;
}

.container {
    color: #ffffff;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

a {
    font-size: 20px;
}

.navbar {
    text-transform: uppercase;
    background-color: #ac791bab;
    font-size: .9rem;
    letter-spacing: .1rem;
}

.container .lead {
    color: white;
    font-size: 30px;
}

#mainNav {
    color: rgb(255, 255, 255);
}

h2 {
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 70px;
    text-align: center;
    color: #ac791b;
}

h3 {
    text-align: justify;
    font-size: 50px;
    text-align: center;
    color: #ac791b;
}

.jumbotron {
    background: linear-gradient(rgba(44, 53, 68, 0.596), rgba(44, 53, 68, 0.596)), url("img/12345.jpg")center no-repeat;
    background-size: cover;
    position: relative;
    height: 700px;
    margin-top: -10px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.display-4 {
    text-align: center;
    margin-top: 150px;
    color: white;
    font-size: 120px;
}

.lead {
    text-align: center;
    color: white;
    font-size: 40px;
}

hr {
    border-color: #f05f40;
    width: 100px;
    border-width: 5px;
}

.jumbotron .btn {
    background-color: #f05f40;
    border: none;
    border-radius: 20px;
    padding-right: 20px;
    padding-left: 20px;
    margin-top: 30px;
}

.jumbotron .btn:hover {
    color: rgb(9, 9, 41);
    background-color: #ac791be7;
}

p {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

.point li {
    margin-left: 100px;
    margin-right: 100px;
    text-align: justify;
}

ol {
    margin-left: 100px;
}