body {
    background-color: #eeeeee;
}

.container {
    color: #00587a;
    font-weight: bold;
}

a {
    font-size: 20px;
}

.nav-item {
    font-size: 30px;
}

.navbar {
    background-color: #e7e7de;
}

.container .lead {
    color: white;
    font-size: 30px;
}

#mainNav {
    color: black;
}

.carousel {
    margin-top: 50px;
}

p {
    font-family: 'Dancing Script', cursive;
    text-align: justify;
    font-size: 100px;
    text-align: center;
    color: #00587a;
}

.tulis {
    font-family: 'Amatic SC', cursive;
    text-align: center;
    font-size: 50px;
    color: #0d7377;
}