body {
    text-align: center;
    font-size: 110%;
    text-indent: 45px;
    margin-right: 80px;
    margin-left: 80px;
}

h2 {
    text-align: center;
    color: rgb(32, 77, 114);
    font-family: 'Amatic SC', cursive;
    font-family: 'Dancing Script', cursive;
    margin-top: 25px;
}

h4 {
    color: #00587a;
}

img {
    height: 300px;
}

p {
    margin-left: 80px;
    margin-right: 80px;
    text-align: justify;
}

.navbar {
    background-color: rgb(32, 77, 114);
    color: white;
}